@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Manrope';
        font-weight: 100 900;
        src: url('assets/fonts/Manrope/Manrope-VariableFont_wght.ttf') format('truetype-variations');
        font-display: swap;
    }
    h1 {
        @apply leading-normal font-bold text-secondary-950 text-headline text-4xl
    }
    h2 {
        @apply leading-normal font-bold text-secondary-950
    }
    p{
        @apply leading-relaxed text-neutral-500 text-body text-base
    }
    li{
        @apply mb-5
    }
}

@layer components {
    .button-primary {
        @apply text-primary-950 bg-primary-400 hover:bg-primary-300 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 focus:outline-none font-bold;
    }
    .button-secondary {
        @apply  py-2.5 px-5 text-sm font-medium text-primary-600  focus:outline-none bg-white rounded-lg border border-primary-600 hover:bg-primary-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-primary-300;
    }
    .wizard-input {
        @apply bg-neutral-50 border border-neutral-300 text-neutral-900 text-sm rounded-lg focus:ring-primary-500 outline-primary-500 focus-visible:ring-primary-500 focus:border-primary-500 block w-full p-2.5;
    }
    .wizard-input-label {
        @apply block mb-2 text-sm text-neutral-900 font-bold;
    }
    .wizard-input-error {
        @apply block mb-2 text-sm font-medium text-warning-500;
    }
    .wizard-input-error-wrapper {
        @apply h-2 mt-2;
    }
    .wizard-input-wrapper {
        @apply p-2 mt-1;
    }
    .wizard-checkbox {
        @apply w-4 h-4 text-primary-600 bg-neutral-100 border-neutral-300 rounded focus:ring-primary-500 focus:ring-2 outline-primary-500 focus-visible:ring-primary-500 focus:border-primary-500 accent-primary-400;
    }
    .wizard-step-wrapper {
        @apply flex h-[60vh];
    }
    .wizard-icon-wrapper {
        @apply flex items-center justify-center w-1/2;
    }
    .wizard-content-wrapper {
        @apply flex flex-col justify-center w-1/2;
    }
}
