@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Manrope';
        font-weight: 100 900;
        src: url('assets/fonts/Manrope/Manrope-VariableFont_wght.ttf') format('truetype-variations');
        font-display: swap;
    }
    h1 {
        @apply leading-normal font-bold text-secondary-950 text-headline
    }

    h2 {
        @apply leading-normal font-bold text-secondary-950
    }

    p {
        @apply leading-relaxed text-neutral-500 text-body text-base
    }

    li {
        @apply mb-5
    }
}

/* Example of refactoring based on your provided rule */
@layer components {
    .button-primary {
        @apply bg-primary-400 hover:bg-primary-300 focus:ring-4 focus:ring-primary-300 rounded-lg px-5 py-2.5 focus:outline-none font-bold text-neutral-900 text-xs sm:text-sm;
    }

    .button-secondary {
        @apply bg-white hover:bg-primary-100 focus:ring-4 focus:ring-primary-300 rounded-lg px-5 py-2.5 focus:outline-none border border-primary-600 text-primary-600 hover:text-primary-700 text-xs sm:text-sm;
    }

    .layout-base-wrapper {
        @apply flex justify-center items-center flex-1 flex-col sm:flex-row;
    }

    .layout-wizard {
        @apply p-4 bg-transparent rounded-3xl shadow-wizard-md w-full sm:p-6 md:p-8 sm:w-3/4 lg:w-3/5;
    }

    .wizard-input {
        @apply block w-full p-2.5 text-neutral-900 bg-neutral-100 placeholder-gray-400 rounded-lg text-xs focus:border-primary-500 focus:ring-primary-500 focus:ring-2 outline-primary-500 sm:text-sm;
    }

    .wizard-input-label {
        @apply block mb-2 text-neutral-900 font-bold text-sm md:text-base;
    }

    .wizard-input-error {
        @apply block mb-2 text-warning-500 text-sm;
    }

    .wizard-network-error {
        @apply text-lg text-neutral-50 bg-warning-600 rounded text-center;
    }

    .wizard-input-error-wrapper {
        @apply h-2 mt-2;
    }

    .wizard-input-wrapper {
        @apply mt-1 p-2;
    }

    .wizard-checkbox {
        @apply w-4 h-4 text-primary-600 bg-neutral-100 border-neutral-300 rounded focus:ring-2 focus:ring-primary-500 focus:border-primary-500 accent-primary-400;
    }

    .wizard-step-wrapper {
        @apply flex h-auto flex-col lg:h-[60vh] lg:flex-row;
    }

    .wizard-icon-wrapper {
        @apply items-center justify-center w-full hidden lg:flex lg:w-1/2;
    }

    .wizard-content-wrapper {
        @apply flex justify-center w-full flex-col lg:w-1/2;
    }
}
